extends layout

block content
  .container
    .row
      .col-md-6
        h3 Current race
        h2(id='userinfo')
        div(id='counter')
          span(id='counter-time')
          span s
      .col-md-6
        h3 Scores
        table(class='table table-striped')
          thead
            tr
              th #
              th Name
              th Time
          tbody(id='scores')
            for score, index in scores
              tr
                td= index + 1
                td= score.user.full_name
                td= score.time

        button.btn.btn-default.pull-right(id="resetBtn") Reset scores

     .row.margin-top
      .col-md-6
        form.form-horizontal(id='userForm', method='post', action='#')
          .form-group
            label.col-sm-4.control-label Bracelet
            .col-sm-8
              input.form-control(id="inputBracelet", type="text", name="input-bracelet", placeholder="Bracelet", disabled="disabled")
          .form-group
            label.col-sm-4.control-label First name
            .col-sm-8
              input.form-control(id="inputFirstName", type="text", name="input-first-name", placeholder="First name")
          .form-group
            label.col-sm-4.control-label Last name
            .col-sm-8
              input.form-control(id="inputLastName", type="text", name="input-last-name", placeholder="Last")
          .form-group
            label.col-sm-4.control-label Gender
            .col-sm-8
              select.form-control(id="inputGender", name="input-gender")
                option(value="") -- 
                option(value="male") Male
                option(value="female") Female
          .form-group
            .col-sm-offset-4.col-sm-8
              button.btn.btn-primary.btn-block(id="userSubmitBtn", type="submit") Voeg toe


  div.modal(id="disconnectedModal")
    .modal-dialog
      .modal-content
        .modal-header
          h3 Disconnected
        .modal-body
          p It seems that the server disconnected.
          | Try refreshing the page if it doesn't come back up again.
        .modal-footer
